# Windows binaries
*.exe
*.obj
*.lib
*.dll

# *nix binaries
bin/dcd-client
bin/dcd-server
*.o
*.a
*.so

# Perf reports
perf.data
perf.data.old

# Valgrind reports
callgrind.*

# Git hash file
githash.txt

# Test results
tests/tc*/actual*.txt
stderr.txt
stdout.txt

# Dub files
.dub
dub.selections.json
