[submodule "msgpack-d"]
	path = msgpack-d
	url = https://github.com/msgpack/msgpack-d.git
[submodule "libdparse"]
	path = libdparse
	url = https://github.com/dlang-community/libdparse.git
	branch = master
[submodule "d-test-utils"]
	path = d-test-utils
	url = https://github.com/dlang-community/d-test-utils.git
[submodule "containers"]
	path = containers
	url = https://github.com/dlang-community/containers.git
