[submodule "msgpack-d"]
	path = msgpack-d
	url = https://github.com/msgpack/msgpack-d.git
[submodule "dscanner"]
	path = dscanner
	url = https://github.com/Hackerpilot/Dscanner.git
[submodule "editors/ktexteditor"]
	path = editors/ktexteditor
	url = git://github.com/Dav1dde/lumen.git
[submodule "datapicked"]
	path = datapicked
	url = ./datapicked/
