[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katedcdplugin
X-Kate-Version=2.9
Name=D Completion Daemon
Name[bg]=D Completion Daemon
Name[bs]=DCD
Name[ca]=D Completion Daemon
Name[ca@valencia]=D Completion Daemon
Name[cs]=D Completion Daemon
Name[da]=D Completion Daemon
Name[de]=D Completion Daemon
Name[el]=D Completion Daemon
Name[en_GB]=D Completion Daemon
Name[es]=D Completion Daemon
Name[et]=D Completion Daemon
Name[eu]=D Completion Daemon
Name[fi]=D Completion Daemon
Name[fr]=D Completion Daemon
Name[ga]=D Completion Daemon
Name[gl]=D Completion Daemon
Name[he]=D Completion Daemon
Name[hu]=D Completion Daemon
Name[ia]=D Completion Daemon
Name[is]=D Completion Daemon
Name[it]=D Completion Daemon
Name[kk]=D Completion Daemon
Name[km]=D Completion Daemon
Name[ko]=D Completion Daemon
Name[lt]=D Completion Daemon
Name[lv]=D Completion Daemon
Name[mr]=D Completion Daemon
Name[nb]=D Completion Daemon
Name[nds]=D Completion Daemon
Name[nl]=D Completion Daemon
Name[nn]=D Completion Daemon
Name[pa]=D Completion Daemon
Name[pl]=D Completion Daemon
Name[pt]=D Completion Daemon
Name[pt_BR]=D Completion Daemon
Name[ro]=D Completion Daemon
Name[ru]=D Completion Daemon
Name[si]=D Completion Daemon
Name[sk]=D Completion Daemon
Name[sl]=D Completion Daemon
Name[sr]=Ц‑тагс
Name[sr@ijekavian]=Ц‑тагс
Name[sr@ijekavianlatin]=D Completion Daemon
Name[sr@latin]=D Completion Daemon
Name[sv]=D Completion Daemon
Name[tg]=D Completion Daemon
Name[tr]=D Completion Daemon
Name[ug]=D Completion Daemon
Name[uk]=D Completion Daemon
Name[wa]=D Completion Daemon
Name[x-test]=xxD Completion Daemonxx
Name[zh_CN]=D Completion Daemon
Name[zh_TW]=D Completion Daemon
Comment=Look up definitions/declarations with D Completion Daemon
Comment[ast]=Guetar definiciones/declaraciones con D Completion Daemon
Comment[bg]=Проверка на дефиниции и декларации с CTag
Comment[bs]=Tražite definicije i deklaracije C‑tagsom
Comment[ca]=Cerca definicions/declaracions amb D Completion Daemon
Comment[ca@valencia]=Cerca definicions/declaracions amb D Completion Daemon
Comment[cs]=Vyhledávání definic/deklarací pomocí D Completion Daemon
Comment[da]=Slå definitioner/erklæringer op med D Completion Daemon
Comment[de]=Definition/Deklaration mit D Completion Daemon nachschauen
Comment[el]=Αναζήτηση ορισμών/δηλώσεων με το D Completion Daemon
Comment[en_GB]=Look up definitions/declarations with D Completion Daemon
Comment[es]=Buscar definiciones/declaraciones con D Completion Daemon
Comment[et]=Definitsiooni/deklaratsiooni otsimine D Completion Daemoniga
Comment[eu]=Bilatu D Completion Daemon duten definizioak/deklarazioak
Comment[fi]=Hyppää määrittelyihin/esittelyihin käyttäen D Completion Daemonia
Comment[fr]=Cherche des définitions / déclarations avec D Completion Daemon
Comment[ga]=Cuardaigh sainmhínithe/fógraí le D Completion Daemon
Comment[gl]=Busca de definicións/declaracións con D Completion Daemon
Comment[he]=חפש הגדרות של משתנים בעזרת D Completion Daemon
Comment[hu]=Definíciók/deklarációk kikeresése D Completion Daemon segítségével
Comment[ia]=Cerca definitiones/declarationes con D Completion Daemon
Comment[it]=Cerca definizioni e dichiarazioni con D Completion Daemon
Comment[ja]=D Completion Daemon を使って定義/宣言を検索します
Comment[kk]=D Completion Daemon көмегімен анықтамалар/жарияламаларды қарастыру
Comment[km]=រក​មើល​និយមន័យ/កា​រ​ប្រកាស​ជា​មួយ D Completion Daemon
Comment[ko]=D Completion Daemon를 사용하여 선언/정의 찾기
Comment[lt]=Peržiūrėti apibrėžimus naudojant D Completion Daemon
Comment[lv]=Uzmeklē definīcijas/deklarācijas ar D Completion Daemon
Comment[mr]=D Completion Daemon ने व्याख्या/डिक्लेरेशन्स बघतो
Comment[nb]=Slå opp definisjoner og deklarasjoner med D Completion Daemon
Comment[nds]=Definitschonen/Deklaratschonen mit D Completion Daemon nakieken
Comment[nl]=Defenities/declaraties opzoeken met D Completion Daemon
Comment[nn]=Slå opp definisjonar og deklarasjonar med D Completion Daemon
Comment[pl]=Wyszukiwanie definicji/deklaracji w D Completion Daemon
Comment[pt]=Procurar por definições/declarações com o D Completion Daemon
Comment[pt_BR]=Procura definições/declarações com o D Completion Daemon
Comment[ro]=Caută definiții/declarații cu D Completion Daemon
Comment[ru]=Поиск определений и объявлений с помощью индекса D Completion Daemon
Comment[si]=CTag සමඟ යෙදුම්/හැඳින්වීම බලන්න
Comment[sk]=Vyhľadať definície/deklarácie s D Completion Daemon
Comment[sl]=Poiščite definicije in deklaracije
Comment[sr]=Тражите дефиниције и декларације Ц‑тагсом
Comment[sr@ijekavian]=Тражите дефиниције и декларације Ц‑тагсом
Comment[sr@ijekavianlatin]=Tražite definicije i deklaracije D Completion Daemonom
Comment[sr@latin]=Tražite definicije i deklaracije D Completion Daemonom
Comment[sv]=Slå upp definitioner och deklarationer med Ctags
Comment[tg]=Намоиши маъно/эъломияҳо тавассути D Completion Daemon
Comment[tr]=D Completion Daemon ile bildirimlerde ve tanımlamalarda ara
Comment[ug]=D Completion Daemon ئىشلىتىپ كودتىكى ئېنىقلىما/بايانات ئىزدەيدۇ
Comment[uk]=Пошук визначень і оголошень за допомогою D Completion Daemon
Comment[x-test]=xxLook up definitions/declarations with D Completion Daemonxx
Comment[zh_CN]=使用 D Completion Daemon 查阅代码中的定义/声明
Comment[zh_TW]=使用 D Completion Daemon 尋找定義與宣告

